nav{
    position: fixed;
    z-index: 100;
    display:flex;
    justify-content:flex-start;
    justify-content: space-between;
    background-color: #F7FAFD;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
     }

.icon {
    height: 90px;
    width: 100px;
}
.navbar {
    display: flex;
    flex:auto;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    font-weight: bold; 
    list-style: none;
    cursor:pointer;
}

.navbar li:hover {
  color: #FF556E;
}

  .dropdown-li {
    position: relative;
    text-align:left;
  }
  
  .dropdown-li:hover .dropdown {
    display:block;
    opacity: 1;
    color:black
  }
  
  .dropdown {
    position: absolute;
    opacity: 0;
    display: none; 
  }
  
  .dropdown li {
    list-style: none;
    padding: 10px;
    text-align: left;
    box-sizing: content-box;
    width: 180px;
  }

  .download_navbar {
    color: #FF556E;
    border-radius: 50px;
    border:solid #FF556E;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left:15px;
    padding-right:15px;
  }